.countries {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.country-visited{
  background-color: rgba(127, 255, 212, 0.171);
}
.btn-visited{
  background-color: green;
  border: none;
  color: white;
}
.btn-not-visited{
  background-color: gray;
  border: none;
  
}
.visited-flags-container img{
width: 150px;
height: 100px;

}
.visited-flags-container{
  display: flex;
  gap: 20px;

}
.text-ol{
  text-align: left;
}